/*! Cristian Echeverría Styles
 *
 */

$f-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$f-size: 14px;

@import "lib/cer-normalize";
/*@import "lib/cer-skeleton";*/

/*------------------------------------------------------------------------------------------------
 * Cristian Echeverría
 * CerBones
 *
 */

 h1, h2 {
	 font-weight: 500;
 }